<!DOCTYPE html>
  <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!-->
  <html class="not-ie" lang="zh-cn">
  <!--<![endif]-->
  #set($staticPrefix="http://res.tongbanjie.com/build")
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>铜板街-让你的利息翻十倍</title>
  <meta name="keywords" content="铜板街，理财，投资，投资理财，理财产品，个人理财，基金理财，家庭理财，网上理财，网络理财，金融理财，高收益，平安承保，随时取现">
    <meta name="description" content="铜板街是安全、稳定、高收益的综合理财交易平台,国内首家综合投资理财产品交易APP,中国平安保险提供账户资金安全全额承保，精选保本、低风险、高收益理财产品，资金通过实名银行卡同卡进出，随时取现，灵活便捷，服务免费，个人投资理财首选APP产品，2013中国互联网优秀创新产品奖，2014互联网金融百强品牌。">
    <link type="images/x-icon" rel="shortcut icon" href="$staticPrefix/imgs/favorite.ico">
    <!--[if lt ie 9]>
      <script src="$staticPrefix/common/html5.js"></script>
    <![endif]-->
    <script charset="utf-8" src="$staticPrefix/common/sea.js" ></script>
    <script type="text/javascript" src="$staticPrefix/common/sea-config.js"></script>
    <script type="text/javascript">
      seajs.use(["util/css/bootstrap.min.css", "tbj/funductlist/index.css"]);
    </script>	
    <!--[if lt ie 9]>
    <link rel="stylesheet" type="text/css" href="$staticPrefix/common/base-ie.min.css">
    <![endif]-->   
  </head>
  <body class="tbj-funductlist">
    <header class="navbar-relative-top tbj-header"></header>
    <script type="text/javascript">
      seajs.use("common/header");
    </script>
    <!--banner 轮播-->
    <div id="carousel-banner-generic" class="container carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!--<ul class="carousel-indicators cariyseluls">
        <li data-target="#carousel-banner-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-banner-generic" data-slide-to="1"></li>
        <li data-target="#carousel-banner-generic" data-slide-to="2"></li>
      </ul>-->
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <a href="$staticPrefix/html/safe.html" target="_blank">
            <img src="$staticPrefix/imgs/proclist.jpg" height="240" width="990" alt="资金安全保障">
          </a>
          <div class="carousel-caption">
          </div>
        </div>   
      </div>      
    </div>
    <!-- 内容 -->
    <section class="container main-wrap">
      <div class="funduct-list">
        <h5>
          <span>1</span>理财产品 <span class="tip">专注投资，精明之选</span>
        </h5>
        <table>
          <thead>
            <tr>
              <th>产品名称</th>
              <th>预期年化收益</th>
              <th>理财期限</th>
              <th>已购买人数</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
    		#foreach($elem in $!data)
    		  #set($funduct=$elem.funduct)
    		  <tr>
                <td>$funduct.name</td>
    			#set($profit=$funduct.profit*100)
    			#set($profit=$numberTool.format("0.00",$profit))
                <td class="red">$profit%</td>
                <td>$elem.periodValue</td>
                <td>$funduct.tradeNum人</td>
                <td>
    			#if($funduct.status == "1")
                  <a href="http://funduct.tongbanjie.com/web/funduct/detail/$!{funduct.id}.html" class="btn btn-danger btn-buy">马上赚钱</a>
    			#else
                  <a href="http://funduct.tongbanjie.com/web/funduct/detail/$!{funduct.id}.html" class="btn btn-warning2 btn-desc">查看详情</a>
    			#end
                </td>
              </tr>
    		#end
          </tbody>
        </table>
        #parse("pagination.vm")
      </div>
    </section>
    <!-- 底部  start -->
    <footer></footer>
    <!-- 底部  end -->    
    <script type="text/javascript">
      seajs.use(["underscore", "tbj/funductlist/index"]);
    </script>
	#include("statistics.vm")
	</body>
</html>